
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* base */
:root {
    --bg: #fefefe;
    --text: #2c2c2c;
    --text-50: hsla(0, 0%, 17%, 0.50);
    --heading: #7a5132;
    --accent: #74A662;
    --accent-20: #E2ECDF;
    --gray: #818181;
    --maxw: 800px;
    --gutter: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

* {
user-select: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
}
.selectable {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

a {
    text-decoration: none;
}
::selection {
    background: none;
    color: var(--accent);
  }

body {
    font-family: Pretendard, sans-serif;
    font-weight: 400;
    font-size: 14px;
    background: var(--bg);
    color: var(--text);
    line-height: 1.6;
    width: 100%;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* header */
.header {
    width: var(--maxw);
    margin: 50px auto;
    padding: 0 var(--gutter);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile { display: flex; align-items: center; gap: 15px; }
.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-name { margin: 0; font-weight: 500;}

.nav-bar a {
    color: var(--gray);
    text-decoration: none;
    margin-left: 24px;
}

/* main */
.main {
    margin: auto;
    width: var(--maxw);
    padding: 0 var(--gutter);
    flex-grow: 1;
}

/* footer */
.footer {
    background: var(--accent-20);
    margin-top: 80px;
}
.footer p {
    margin: 0;
    text-align: center;
    padding: 15px 0;
    color: var(--gray);
}

/* aboutme */
.aboutme-content .section:nth-child(odd) {
    text-align: left;
}
.aboutme-content .section:nth-child(even) {
    text-align: right;
}
.aboutme-content .section:nth-child(even) ul {
    list-style-position: inside;
}

.section-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--heading);
    margin: 10px 0;
}
.aboutme-content ul {
    margin: 0;
    padding-left: 20px;
}

/* thoughts */
.thoughts{
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 50px;
}

.guide-text{
    font-weight: 500;
    color: var(--accent);
}

.card {
    background: #fff;
    border: 0.5px solid hsla(0, 0%, 0%, 0.15);
    border-radius: 10px;
    width: 700px;
    padding: 20px 25px;
    
}
.card-top { 
    display: flex;
    align-items: center; 
    gap: 15px;
}
.card-top img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.card-top-date {
    color: var(--text-50);
}
.card-contents {
    padding: 10px 2px;
    text-align: justify;
}
.card-contents-img {
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}