
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* base */
:root {
    --bg: #ffffff;
    --text: #2c2c2c;
    --text-50: hsla(0, 0%, 17%, 0.50);
    --brown: #7a5132;
    --accent: #74A662;
    --accent-20: #E2ECDF;
    --gray: #818181;
    --dark-gray: #4a4a4a;
    --light-gray: #e6e6e6;
    --medium-gray: #d1d1d1;
    --maxw: 850px;
    --gutter: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

* {
user-select: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
}
.selectable, .selectable *{
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

a {
    color: var(--brown);
    text-decoration: none;
}
a:link {
color: inherit
}
a:visited {
color: inherit
}
::selection {
    background: none;
    color: var(--accent);
  }

body {
    font-family: Pretendard, sans-serif;
    font-weight: 400;
    font-size: 15px;
    background: var(--bg);
    color: var(--text);
    line-height: 1.6;
    width: 100%;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* header */
.header {
    width: var(--maxw);
    margin: 50px auto;
    padding: 0 var(--gutter);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile { display: flex; align-items: center; gap: 15px; }
.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-name { margin: 0; font-weight: 500;}

.nav-bar a {
    color: var(--gray);
    text-decoration: none;
    margin-left: 24px;
}

/* main */
.main {
    margin: auto;
    width: var(--maxw);
    padding: 0 var(--gutter);
    flex-grow: 1;
}

/* footer */
.footer {
    background: var(--accent-20);
    margin-top: 80px;
}
.footer p {
    margin: 0;
    text-align: center;
    padding: 15px 0;
    color: var(--gray);
}

/* aboutme */
.aboutme-content .section:nth-child(odd) {
    text-align: left;
}
.aboutme-content .section:nth-child(even) {
    text-align: right;
}
.aboutme-content .section:nth-child(even) ul {
    list-style-position: inside;
}

.section-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--brown);
    margin: 10px 0;
}
.aboutme-content ul {
    margin: 0;
    padding-left: 20px;
}

/* thoughts */
.thoughts{
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 50px;
}

.guide-text{
    font-weight: 500;
    color: var(--accent);
}

.card {
    background: #ffffff;
    border: 0.5px solid hsla(0, 0%, 0%, 0.15);
    border-radius: 10px;
    width: 700px;
    padding: 20px 25px;
    
}
.card-top { 
    display: flex;
    align-items: center; 
    gap: 15px;
}
.card-top img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.card-top-date {
    color: var(--text-50);
}
.card-contents {
    padding: 10px 2px;
    text-align: justify;
}
.card-contents-img {
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}

/* articles page */
.category {
    margin-bottom: 50px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}

.tag-name {
    padding: 4px 10px;
    background: #ffffff;
    border: 1px solid var(--light-gray);
    border-radius: 12px;
    color: var(--dark-gray);
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s ease;
}

.tag-name:hover {
    border-color: var(--accent);
}

.tag-name.active {
    background: var(--accent);
    color: white;
    border-color: var(--accent);
}
.tag-cnt {
    padding-left: 12px;
}

.posts-section {
    margin-bottom: 60px;
}

.posts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.posts-category {
    margin-right: 4px;
    font-weight: 500;
}

.page-btn {
    padding: 4px;
    margin: 4px;
    cursor: pointer;
    font-size: 14px;
}

.page-btn.active {
    color: var(--accent);
}

.posts-table {
    width: 100%;
    overflow: hidden;
    border:none;
    border-top: 1px solid var(--text);
    border-collapse: collapse;
    margin: 0;
}

.post-date-header {
    text-align: right;
    width: 120px;
}

.post-row {
    border:none;
    border-bottom: 0.5px solid var(--medium-gray);
}

.post-row > td {
    border:none;
    padding: 6px 4px;
    font-size: 14px;
    height: 35px;
}

.post-date {
    color: var(--gray);
    text-align: right;
}

.main-post {
    margin-bottom: 300px;
}

.post-main-title {
    color: var(--brown);
    margin-bottom: 10px;
}

.post-meta {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--medium-gray);
}

.post-author {
    margin: 0 3px;
    color: var(--text);
}

.post-date-main {
    color: var(--gray);
}

.post-tags {
    color: var(--accent);
}

.post-content {
    padding: 5px;
    font-size: 16px;
    color: var(--text);
}
.post-content a{
    color: var(--brown);
}
.post-content a:hover{
    background-color: var(--brown);
    color:#ffffff;
    transition: 0.1s ease;
}


.post-navigation {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid var(--medium-gray);
    font-size: 14px;
    margin: 60px 0px;
}

.nav-row {
    border:none;
}

.nav-row > td {
    border: none;
    padding: 8px 4px;
}

.nav-direction {
    color: var(--gray);
    width: 80px;
    text-align: center;
}

.nav-title {
    color: var(--text);
}

.nav-title.current {
    color: var(--accent);
}

.nav-title a {
    color: inherit;
    text-decoration: none;
}

.nav-date {
    color: var(--gray);
    text-align: right;
    width: 120px;
}

.top-link {
    text-align: right;
    margin-bottom: 10px;
}

.top-btn {
    color: var(--text);
}

.top-btn:hover {
    text-decoration: underline;
}